$unit: 8px;
$limit: 10;
$primary-color: rgb(255, 234, 70);
$secondary-color: black;
$terciary-color: white;
$font-color: rgb(170, 170, 170);
$bg-color: rgb(0, 51, 102);

$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
